<div class="flex flex-col gap-5 py-6 px-5">
  <p-floatlabel variant="on" class="flex w-full">
    <input id="name" pInputText (change)="updated()"  [(ngModel)]="playlist.name" class="w-full"/>
    <label for="name">Name</label>
  </p-floatlabel>
  <p-floatlabel variant="on" class="flex w-full">
    <textarea id="description" rows="3" cols="50" pTextarea
              (change)="updated()" [(ngModel)]="playlist.description" class="w-full"></textarea>
    <label for="description">Description</label>
  </p-floatlabel>
  <div class="flex items-center">
    <p-checkbox inputId="public" name="public" value="public"
                (onChange)="updated()" [(ngModel)]="playlist.public" [binary]="true"/>
    <label for="public" class="ml-2"> Public </label>
  </div>
  <div class="flex items-center">
    <p-checkbox inputId="collaborative" name="collaborative" value="collaborative"
                (onChange)="updated()" [(ngModel)]="playlist.collaborative" [binary]="true"/>
    <label for="collaborative" class="ml-2"> Collaborative </label>
  </div>
</div>
